.modal-btn{
    width: 243px;
    height: 30px;
    font-size: 18px;
    background-color: #416177;
    color:white;
    display: flex;
    text-align: center;
    justify-content: center;
    margin:10px;
    border: 1px solid transparent;
    border-radius: 10px;
}
.modal{
    display: flex;
    justify-content: center;
    font-weight : bold;
    font-size: 25px;
}